body {
    font-family: sans-serif;
    background: #33cccc;
}

#after-submit {
    visibility: hidden;
    background: chocolate;
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 10px;
    float: left;
    margin-left: 20px;
    font-size: 1.6em;
    color: #fff;
}

#form {
    background: #fff;
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 10px;
    float: left;
    font-size: 1em;
}

h1 {
    text-align: center;
    padding: 40px;
}

/*-------image--------*/
#img {
    width: 300px;
    height: 250px;
}


/*-------form--------*/
input {
    margin-bottom: 20px;
    background: #ccc;
}

#text-input {
    height: 25px;
    font-size: 1em;
    border-radius: 4px;
    padding-left: 5px;
}

#btn {
    background: #000;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 4px;
    font-size: 1em;
    transition-duration: .6s;
    margin-top: 15px;
    cursor: pointer;
}

#btn:hover {
    background: chocolate;
    border: 1px solid green;
}

#mc {
    display: inline;
}